name: Build manylinux wheels

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build-manylinux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Make scripts executable
        run: |
          chmod +x scripts/topbuild_manywheel_linux.sh
          chmod +x scripts/build_docker_manylinux.sh

      - name: Build manylinux wheels
        run: |
          bash scripts/topbuild_manywheel_linux.sh

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: manylinux-wheels
          path: dist/*.whl
